<div class="panel-body">
  <h4 style="text-align: center"> EXERCICE 2</h4>

    {{#each model.services as |service index| }}
      {{#if service.active}}
          <div class="btn btn-primary active center-block" style="width: 500px;height: 40px;font-size: 20px;margin-bottom: 4px;" {{action "toggleActive" service}}>
            {{service.name}}
            ({{format-currency service.price}})
          </div>
      {{else}}
        <div class="btn btn-secondary center-block" style="width: 500px;height: 40px;font-size: 20px;margin-bottom: 4px;border:solid 1px darkslategrey"{{action "toggleActive" service}}>
          {{service.name}}
          ({{format-currency service.price}})
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="dropdown-divider"></div>
  <div class="center-block" style="text-align: center">{{plural model.countActive}}</div>
  <div class="center-block" style="text-align: center;font-size: 25px">Cout total : {{format-currency model.sumActive}}</div>

{{outlet}}